/* /* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */


body {
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: linear-gradient(135deg, #f5e6da, #f9f0ea);
  color: #333;
  box-sizing: border-box;
}

/* Header Section */
.header {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000000;
}

.header img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(100%);
}

.header-content {
  text-align: center;
  margin-bottom: 20px;
}

.name {
  font-size: 3rem;

  margin: 0;
  color:#000000;
}

.nav {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 8px 15px;
  border-radius: 5px;
  background-color: #d88a36;
}

.nav a:hover {
  background-color: white;
  color: #f39c12;
}

@media (max-width: 768px) {
  .header {
    height: 250px;
  }

  .name {
    font-size: 2.5rem;
  }

  .nav {
    flex-wrap: wrap;
    gap: 10px;
  }

  .nav a {
    font-size: 1rem;
    padding: 6px 10px;
  }
} 

/* Home Section */
.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #f5e6da, #f9f0ea);
  padding: 20px;
}

.profile-content {
  display: flex;
  align-items: center;
  gap: 150px;
  max-width: 1000px;
}

.profile-image-container1 {
  position: relative;
  width: 380px;
  height: 380px;
  border-radius: 50%;
  background: white;
  padding: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.profile-image1 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  
}



.profile-text {
  max-width: 500px;
}

.profile-text h1,h2 {
  margin: 0;
  font-weight: 900;
  color: #333;
}

.highlight {
  color: #d88a36;
}

.profile-text p {
  margin: 20px 0;
  color: #555;
  line-height: 1.6;
  font-size: 20px;
}

.social-icons img {
  height: 60px;
  width: 60px;
  margin: 20px 0;
  font-size: 1.5rem;
  color: #555;
  cursor: pointer;
  margin-right: 15px;
}

.social-icons i:hover {
  color: #d88a36;
}

.download-cv {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #d88a36;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.download-cv:hover {
  background-color: #b96e2e;
}

/* Aboutme Section*/
.about-me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
  background-color: #f1f1f1;
  margin-bottom: 100px;
}

.title-name {
  text-align: center;
  margin-bottom: 50px;
}

.title {
  font-size: 3rem;
  color: #d88a36;
  font-weight: bold;
  margin: 0;
}

.content-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 50px;
  position: relative;
  z-index: 1;
}

.home {
  max-width: 600px;
  padding: 30px;
  margin: 20px auto;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(255, 69, 0, 0.1);
  position: relative;
  overflow: hidden;
  z-index: 1;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.home::before,.home::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 69, 0, 0.2);
  z-index: -1;
  animation: float 6s infinite ease-in-out;
}

.home::before {
  width: 150px;
  height: 150px;
  top: -50px;
  right: -50px;
}

.home::after {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  bottom: -30px;
  left: -30px;
  animation-duration: 8s;
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(20px);
  }
}

.description {
  font-size: 18px;
  color: #333;
  line-height: 1.8;
  text-align: justify;
  margin: 0;
}

.name-highlight {
  color: #f39c12;
  font-weight: bold;
  font-size: 22px;
}

p {
  margin-bottom: 15px;
}

.profile-image-container1 {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 20px;
  background-color: white;
  border: 5px solid white;
  box-shadow: 0px 8px 16px rgba(255, 69, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  overflow: hidden;
}

.profile-image1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  background-color: transparent;
}

@media (max-width: 768px) {
  .content-section {
    flex-direction: column-reverse;
    align-items: center;
    padding: 20px;
  }

  .profile-image-container1 {
    margin-left: 0;
    margin-top: 20px;
  }

  .home {
    max-width: 100%;
    margin: 20px 0;
  }

  .title {
    font-size: 2.5rem;
  }

  .description {
    font-size: 16px;
  }
} 

/* Skills Section */
.skills {
  padding: 20px 20px;
  text-align: center;
  margin-bottom: 50px;
}

.skills h2 {
  color: #d88a36;
  margin-bottom: 50px;
  font-size: 48px;

}

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  max-width: 1000px;
  margin: 0 auto;
}

.skills-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
}

.center-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.image-logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.skill-card {
  flex: 1;
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.skill-card h3 {
  color: #555;
  margin: 0;
  font-size: 1.2rem;
  margin-left: 30px;
}

.named-card {
  margin-right: 300px;
}

.skill-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px orange;
}

@media (max-width: 768px) {
  .skills-row {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .center-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .skill-card {
    width: 80%;
  }
}

/* Education Section */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
  padding: 20px;
  /* font-family: Arial, sans-serif;
 */
}
.main-heading {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 130px;
  color: #d88a36;
}

.grid-container {
  display: flex;
  gap: 100px;
  justify-content: space-evenly;
  width: 100%;
  max-width: 1000px;
  margin-top: 0;
  margin-bottom: 100px;
}

.flip-container {
  perspective: 1000px;
}

.flip-box {
  width: 280px;
  height: 300px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.flip-container:hover .flip-box {
  transform: rotateY(180deg);
}

.flip-box-front,.flip-box-back {
  position: absolute;
  width: 100%;
  height: 120%;
  backface-visibility: hidden;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;
  font-weight: bold;
  transition: all 0.4s ease;
}

.flip-box-front {
  background-color: #f39c12;
  color: white;
}

.flip-box-back {
  background-color: white;
  color: #f39c12;
  padding: 20px;
  transform: rotateY(180deg);
}

h2 {
  margin: 10px 0;
  font-size: 1.5rem;
  color: #f39c12;
}

p {
  margin: 5px 0;
  color: #555;
  font-size: 1rem;
}

/* Contact Section*/
.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 250px;
  background-color: linear-gradient(135deg, #f5e6da, #f9f0ea);
  ;
}

.contact-left {
  flex: 1;
  max-width: 45%;
}

.contact-left h2 {
  font-size: 3rem;
  margin-bottom: 10px;
  color: #d88a36;
}

.contact-left h2 span {
  color: #d88a36;
}

.contact-left h3 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.contact-left p {
  font-size: 1.4rem;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #555;
}

.contact-right {
  flex: 1;
  max-width: 45%;
}

form {
  display: flex;
  flex-direction: column;
}

input,textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #b96e2e;
  border-radius: 8px;
  background-color: #f4e2d1;
  font-size: 1rem;
}

button {
  padding: 20px;
  border: none;
  border-radius: 25px;
  background-color: #d88a36;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 482px;
}

button:hover {
  background-color: #f39c12;
  transform: translateY(-3px);
}

@media screen and (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    padding: 20px;
  }

  .contact-left,.contact-right {
    max-width: 100%;
    margin-bottom: 20px;
  }
} 

/*Social Media*/
.social-icons a {
  margin-right: 15px;
  color: #333;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #0077b5;
}

/*Projects Section*/
.portfolio-container {
  padding: 20px;
  animation: fadeIn 1s ease-in;
  background:linear-gradient(135deg,#f1cc89, #eebcf5);

}

.portfolio-title {
  font-size: 48px;
  margin-bottom: 30px;
  text-align: center;
  color:#511242b5;
}

.project-card {
  width: 60%; 
  padding: 15px; 
  margin: 10px auto; 
  background: #F7F2C4;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  animation: slideUp 1s forwards;
  transition: transform 0.3s, box-shadow 0.3s;
}

.project-card.fade-in {
  animation: fadeIn 1.5s forwards;
}

.project-card.slide-up {
  animation: slideUp 1s forwards;
}

.project-card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 6px rgb(74, 12, 218);
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes slideUp {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
} 

/*Contact right form*/
.contact-right form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center; /* Align all elements in center */
}

.contact-right input,
.contact-right textarea,
.contact-right button {
  width: 100%; /* Ensures all elements have the same width */
  max-width: 350px; /* Adjust as per your input field width */
}

.contact-right button {
  padding: 12px;
  background-color: #d08540;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.contact-right button:hover {
  background-color: #b06a33;
}

/*flip boxes*/
.main-heading {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  color: #e78c1c;
  margin-bottom: 30px;
}
.flip-container {
  perspective: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-box {
  width: 250px;
  height: 300px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 15px;
  font-size: 18px;
  font-weight: bold;
}

.flip-box-front {
  background: #e78c1c;
  color: white;
}

.flip-box-back {
  background: #fff;
  color: black;
  transform: rotateY(180deg);
}

.flip-box:hover {
  transform: rotateY(180deg);
}
